<ul>
  <% @notes.each do |note| %>
    <li>
      <%= note.content %>
      <div>
        <%= link_to '<i class="icon-edit"></i>'.html_safe, edit_note_path(note) %>
        <%= link_to '<i class="icon-trash"></i>'.html_safe, note, method: :delete %>
      </div>
    </li>
  <% end %>

  <li>
    <input placeholder="Add a new aha! here" size="50">
  </li>
</ul>
