<ul>
  <% @notes.each do |the_note| %>
    <%= render 'note', :note => the_note %>
  <% end %>
  <li>
    <%= form_for Note.new do |f| %>
      <%= f.text_field :content, placeholder: 'Add a new note' %>
    <% end %>
  </li>
</ul>
