<ul>
  <li>
    Rails Models are Ruby classes intended to represent real-world things.
    <div>
      <a href="#"><i class="icon-edit"></i></a>
      <a href="#"><i class="icon-trash"></i></a>
    </div>
  </li>
  <li>
    Instance variables in controllers hold data for the views.
    <div>
      <a href="#"><i class="icon-edit"></i></a>
      <a href="#"><i class="icon-trash"></i></a>
    </div>
  </li>
  <li>
    Rails is best for database-backed web applications.
    <div>
      <a href="#"><i class="icon-edit"></i></a>
      <a href="#"><i class="icon-trash"></i></a>
    </div>
  </li>
  <li>
    Javascript is pretty cool.
    <div>
      <a href="#"><i class="icon-edit"></i></a>
      <a href="#"><i class="icon-trash"></i></a>
    </div>
  </li>
  <li>
    Pairing accelerates learning.
    <div>
      <a href="#"><i class="icon-edit"></i></a>
      <a href="#"><i class="icon-trash"></i></a>
    </div>
  </li>
  <li>
    <input placeholder="Add a new aha! here" size="50">
  </li>
</ul>
