body {
  background: #DDD;
  font: 24px/34px "Helvetica Neue", Helvetica, Arial, sans-serif;
}

#theme_links {
  font: 13px/20px "Helvetica Neue", Helvetica, Arial, sans-serif;
  float: right;
}

#container {
  background: #FFF;
  border-radius: 5px;
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.25);
  margin: 20px auto;
  padding-bottom: 20px;
  width: 960px;
}

.legalpad {
  background: #FFF959;
}

.notepad {
  background: #FFF;
}

header {
  padding: 20px;
  border-bottom: 4px solid #70B0EE;
  margin-bottom: 20px;
}

header h1 {
  font-size: 50px;
  font-weight: bold;
}

header h1 a {
  color: #000;
  text-decoration: none;
}


ul li {
  border-bottom: 2px dotted #70B0EE;
  margin-top: 4px;
  margin-bottom: 4px;
  padding: 0 15px;
  list-style: none;
}

ul li a {
  color: #000;
  text-decoration: none;
  margin-left: 10px;
}

ul li div {
  float: right;
}

input {
  font: 24px/34px "Helvetica Neue", Helvetica, Arial, sans-serif;
  padding-left: 5px;
  width: 99%;
}
